# Converting Addresses to Coordinates

In [2]:
import os
import pandas
from geopy.geocoders import ArcGIS

In [4]:
os.listdir()

['.ipynb_checkpoints',
 'data.txt',
 'loading_csv_file.ipynb',
 'pandas_dataframe.ipynb',
 'practice_code.ipynb',
 'supermarkets-commas.txt',
 'supermarkets-semi-colons.txt',
 'supermarkets.csv',
 'supermarkets.json',
 'supermarkets.xlsx',
 'Untitled.ipynb']

In [5]:
smdf = pandas.read_csv("supermarkets.csv")

In [6]:
smdf

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [7]:
nom = ArcGIS()

In [15]:
coordinate = nom.geocode("3995 23rd St, San Francisco, CA94114")

In [16]:
coordinate

Location(3995 23rd St, San Francisco, California, 94114, (37.75292099814533, -122.43170295955227, 0.0))

In [17]:
coordinate.latitude

37.75292099814533

In [19]:
coordinate.longitude

-122.43170295955227

In [20]:
type(coordinate)

geopy.location.Location

In [21]:
smdf["Address"] = smdf["Address"]+", "+smdf["City"]+", "+smdf["State"]

In [22]:
smdf

,ID,Address,City,State,Country,Name,Employees
0,1,"3666 21st St, San Francisco, CA 94114",San Francisco,CA 94114,USA,Madeira,8
1,2,"735 Dolores St, San Francisco, CA 94119",San Francisco,CA 94119,USA,Bready Shop,15
2,3,"332 Hill St, San Francisco, California 94114",San Francisco,California 94114,USA,Super River,25
3,4,"3995 23rd St, San Francisco, CA 94114",San Francisco,CA 94114,USA,Ben's Shop,10
4,5,"1056 Sanchez St, San Francisco, California",San Francisco,California,USA,Sanchez,12
5,6,"551 Alvarado St, San Francisco, CA 94114",San Francisco,CA 94114,USA,Richvalley,20

In [23]:
smdf["Coordinate"] = smdf["Address"].apply(nom.geocode)

In [24]:
smdf

,ID,Address,City,State,Country,Name,Employees,Coordinate
0,1,"3666 21st St, San Francisco, CA 94114",San Francisco,CA 94114,USA,Madeira,8,"(3666 21st St, San Francisco, California, 9411..."
1,2,"735 Dolores St, San Francisco, CA 94119",San Francisco,CA 94119,USA,Bready Shop,15,"(735 Dolores St, San Francisco, California, 94..."
2,3,"332 Hill St, San Francisco, California 94114",San Francisco,California 94114,USA,Super River,25,"(332 Hill St, San Francisco, California, 94114..."
3,4,"3995 23rd St, San Francisco, CA 94114",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995 23rd St, San Francisco, California, 9411..."
4,5,"1056 Sanchez St, San Francisco, California",San Francisco,California,USA,Sanchez,12,"(1056 Sanchez St, San Francisco, California, 9..."
5,6,"551 Alvarado St, San Francisco, CA 94114",San Francisco,CA 94114,USA,Richvalley,20,"(551 Alvarado St, San Francisco, California, 9..."

In [28]:
smdf.Coordinate

0    (3666 21st St, San Francisco, California, 9411...
1    (735 Dolores St, San Francisco, California, 94...
2    (332 Hill St, San Francisco, California, 94114...
3    (3995 23rd St, San Francisco, California, 9411...
4    (1056 Sanchez St, San Francisco, California, 9...
5    (551 Alvarado St, San Francisco, California, 9...
Name: Coordinate, dtype: object

In [31]:
smdf.Coordinate[1]

Location(735 Dolores St, San Francisco, California, 94110, (37.757828979640195, -122.4253730300932, 0.0))

In [32]:
smdf.Coordinate[3:]

3    (3995 23rd St, San Francisco, California, 9411...
4    (1056 Sanchez St, San Francisco, California, 9...
5    (551 Alvarado St, San Francisco, California, 9...
Name: Coordinate, dtype: object

In [33]:
smdf.Coordinate[1].latitude

37.757828979640195

In [35]:
smdf.Coordinate[1].longitude

-122.4253730300932

In [38]:
smdf["latitude"] = smdf["Coordinate"].apply(lambda l: l.latitude if l != None else None)

In [40]:
smdf["longitude"] = smdf["Coordinate"].apply(lambda l: l.longitude if l != None else None)

In [41]:
smdf

,ID,Address,City,State,Country,Name,Employees,Coordinate,latitude,longitude
0,1,"3666 21st St, San Francisco, CA 94114",San Francisco,CA 94114,USA,Madeira,8,"(3666 21st St, San Francisco, California, 9411...",37.756632,-122.429411
1,2,"735 Dolores St, San Francisco, CA 94119",San Francisco,CA 94119,USA,Bready Shop,15,"(735 Dolores St, San Francisco, California, 94...",37.757829,-122.425373
2,3,"332 Hill St, San Francisco, California 94114",San Francisco,California 94114,USA,Super River,25,"(332 Hill St, San Francisco, California, 94114...",37.755845,-122.428813
3,4,"3995 23rd St, San Francisco, CA 94114",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995 23rd St, San Francisco, California, 9411...",37.752921,-122.431703
4,5,"1056 Sanchez St, San Francisco, California",San Francisco,California,USA,Sanchez,12,"(1056 Sanchez St, San Francisco, California, 9...",37.752132,-122.430006
5,6,"551 Alvarado St, San Francisco, CA 94114",San Francisco,CA 94114,USA,Richvalley,20,"(551 Alvarado St, San Francisco, California, 9...",37.753582,-122.433234